.car {
  background-color: #f7f8fc;
  width: 350px;
  padding: 40px;
}

.car > h3 {
  font-size: 30px;
  text-align: center;
}

.car > .photo {
  width: 100%;
  height: 150px;
}
.car > .photo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.car > .info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}

.car > .info > .option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.car > .info > .option > .title {
  font-weight: 700;
}
.car > .info > .option > .value 1 {
  font-weight: 700;
  color: #7f7f7f;
}

.car > .interaction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.car > .interaction > .make {
  color: white;
  background-color: #002c55;
  padding: 14px 26px 14px 26px;
  border: none;
  width: 150px;
  cursor: pointer;
}
.car > .interaction > .navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.car > .interaction > .navi > .circle {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: #007fa8;
}
